@import url("blocks/page-container/page-container.css");
@import url("blocks/page-header/page-header.css");
@import url("blocks/page-footer/page-footer.css");
@import url("blocks/header-top/header-top.css");
@import url("blocks/logo/logo.css");
@import url("blocks/logo/__text/logo__text.css");
@import url("blocks/search-form/search-form.css");
@import url("blocks/search-form/__button/search-form__button.css");
@import url("blocks/search-form/__input/search-form__input.css");
@import url("blocks/main-menu/main-menu.css");
@import url("blocks/main-menu/__items/main-menu__items.css");
@import url("blocks/main-menu/__item/main-menu__item.css");
@import url("blocks/main-menu/__link/main-menu__link.css");
@import url("blocks/main-menu/__item/_active/main-menu__item_active.css");

/* @import url("blocks/"); 
@import url("blocks/"); 
@import url("blocks/"); 
@import url("blocks/");  */

/* @import url("blocks/"); */
/* @import url("blocks/"); */

body {    
    margin: 0;
    background-color: #E5E5E5;  
    color: #000000; 
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
}
