@import url("blocks/page-container/page-container.css");
@import url("blocks/page-container-inner/page-container-inner.css");
@import url("blocks/page-header/page-header.css");
@import url("blocks/page-footer/page-footer.css");
@import url("blocks/header-top/header-top.css");
@import url("blocks/logo/logo.css");
@import url("blocks/logo/__text/logo__text.css");
@import url("blocks/search-form/search-form.css");
@import url("blocks/search-form/__button/search-form__button.css");
@import url("blocks/search-form/__input/search-form__input.css");
@import url("blocks/main-menu/main-menu.css");
@import url("blocks/main-menu/__items/main-menu__items.css");
@import url("blocks/main-menu/__item/main-menu__item.css");
@import url("blocks/main-menu/__link/main-menu__link.css");
@import url("blocks/main-menu/__item/_active/main-menu__item_active.css");
@import url("blocks/link-button/link-button.css");
@import url("blocks/header-main/__h1/header-main__h1.css");
@import url("blocks/header-main/__text/header-main__text.css");
@import url("blocks/header-main/header-main.css");
@import url("blocks/header-main/__inner/header-main__inner.css");
@import url("blocks/block/block.css"); 
@import url("blocks/block/_posts/block_posts.css");
@import url("blocks/block/_services/block_services.css");
@import url("blocks/block/__header/block__header.css"); 
@import url("blocks/block/__header/_light/block__header_light.css");
@import url("blocks/block/__header/_mobile-light/block__header_mobile-light.css");
@import url("blocks/block/__title/block__title.css");
@import url("blocks/block/__content/block__content.css"); 
@import url("blocks/block/__content-text/block__content-text.css");
@import url("blocks/block/__img-outer/block__img-outer.css");
@import url("blocks/block/__img-inner/block__img-inner.css");
@import url("blocks/block/__img/block__img.css"); 
@import url("blocks/block/__link/block__link.css");
@import url("blocks/block/__content-composite/block__content-composite.css");
@import url("blocks/block/__content-clients/block__content-clients.css");
@import url("blocks/block/__img-link/block__img-link.css");
@import url("blocks/small-block/small-block.css"); 
@import url("blocks/small-block/__img/small-block__img.css"); 
@import url("blocks/small-block/__text/small-block__text.css");
@import url("blocks/small-block/__title/small-block__title.css"); 
@import url("blocks/main-section/main-section.css");
@import url("blocks/clients-section/clients-section.css");


body {    
    margin: 0;
    background-color: #E5E5E5;  
    color: #000000; 
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

/* @media 768px, 992px, 1200px */