.page-footer {
    height: 90px;
    background: #6D3D99;
    color: #FFFFFF;
    font-size: 14px;    
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .page-footer {
        height: 115px;
    }    
}