.header-main__text {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}


@media (min-width: 768px) {
    .header-main__text {
        width: 350px;
    }    
}

@media (min-width: 992px) {
    .header-main__text {
        width: 450px;
    }    
}