.header-top {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .header-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 11px;        
    }    
}

@media (min-width: 992px) {
    .header-top {
        height: 60px;
        margin-right: 0px;
    }    
}