.header-top {
    /* margin: 11px; */

    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .header-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 11px;
        /* margin: 11px; */
        /* height: 60px; */
    }    
}