.header-main__h1 {   
    /* font-size: 64px;
    line-height: 75px; */
    font-weight: 400;
    color: #FFC740;
    /* text-align: left; */
    margin: 0px;

    font-size: 35px;
    line-height: 45px;
    text-align: center;
}