.main-menu__item {
    border-bottom: 1px solid #FFC740;  
}

@media (min-width: 768px) {
    .main-menu__item {
        /* width: 123px; */
        width: 96px;
        height: 47px;
        background: #FFFFFF;
        text-align: center;
        border: none;
    }    
}