.header-main {
    background: url(../../../img/design/Mountains-and-hills-julian-alps.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: bottom;
}


@media (min-width: 768px) {
    .header-main {
        height: 332px;
        margin-bottom: 15px;
    }    
}

@media (min-width: 992px) {
    .header-main {
        margin-bottom: 30px;
    }    
}