.page-container {
    background: #FFFFFF;
}


@media (min-width: 768px) {
    .page-container {
        border-top: 5px solid #9B51E0; 
    }    
}

@media (min-width: 1200px) {
    .page-container {
        width: 1260px;    
        margin: 0 auto; 
    } 
}