.main-menu__items {
    list-style: none;
    padding: 0;
    margin: 0;    
}


@media (min-width: 768px) {
    .main-menu__items {
        display: flex;
        justify-content: space-around;
    }    
}