.header-main__inner {
    height: inherit;
    background: rgba(0, 0, 0, 0.38);    
    padding: 11px;    
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .header-main__inner {
        /* padding: 15px 200px 15px 42px; */
        padding: 15px 25px 15px 40px;
    }    
}