.link-button {
    display: block;
    width: 125px;
    height: 34px;
    background: #6D3D99;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 34px;
    color: #FFFFFF;    
}