.block__img-outer {
    width: 141px;
    height: 141px;   
    background: #C4C4C4;
    border: 3px solid #FFC740;
    margin: 0px auto;
}


@media (min-width: 576px) {
    .block__img-outer {
        margin-right: 20px;
    }    
}